<!-- Restaurant Waiter ~ Login Page Interface -->
{% extends 'layout.html' %}

{% block title %}
    Restaurant Waiter Login Page
{% endblock %} 

<body>

    {% block content %}

        
        <br> <br>

        <main>
            <!-- Login In Container-->
            <div class="container shadow-lg" style="padding:30px;">
                <h1>Restaurant Waiter Login</h1>
                <br>
                <div class="container-image">
                    <img style="border-radius:5px; max-width:100%; height:40vh" src="{{ media_url }}RestaurantLogoDesign-FYP.png" class="card-img-top" alt="Card Image">
                </div>
                <br>
                <!-- Form -->
                <form method="post" action="{% url 'waiter-auth' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Employee Id</label>
                        <input type="text" class="form-control" id="waiter-username" name="waiter-username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="waiter-password" required>
                    </div>
                    <div>
                        <button type="submit" class="btn man-login-btn" style="width:100%; background-color:#FFB000" onmouseover="this.style.backgroundColor='#CC8A00';"
                        onmouseout="this.style.backgroundColor='#FFB000';">Login</button>
                    </div>
                    <br>
                    <div>
                        <button type="button" class="btn btn-secondary" id="forgotpass-btn" style="width:100%">Forgot Password</button>
                    </div>
                </form>
            </div>

            <!-- Forgot Password Modal ~ Enter employee ID-->
            <div class="modal fade" id="WFPModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Forgot Password Portal</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="EmployeeIDAddForm" method="post" action="{% url 'waiter-id-ver' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="waiterID" class="form-label">Enter your Employee ID</label>
                                <input type="text" class="form-control" name="waiter-id" id="waiterId" placeholder="JJWXXXX">
                            </div>
                        
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    </form>
                </div>
                </div>
            </div>

            <!-- Update Password Modal -->
            <div class="modal fade" id="WUPModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Update Password</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="updateWaiterPasswordForm" method="post" action="{% url 'update-waiter-password' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="new password" class="form-label">Enter new password</label>
                                <input type="text" id="waiterID" name="waiterId" hidden/> 
                                <div class="position-relative">
                                    <input type="password" class="form-control" name="waiter-password" id="waiter-password" placeholder="Enter at least 7 characters (a-z, A-Z, 0-9, *#$)">
                                    <!-- Eye icon-->
                                    <span 
                                        class="position-absolute top-50 end-0 translate-middle-y me-3 cursor-pointer" 
                                        onclick="togglePasswordVisibility('waiter-password', 'togglePasswordIcon1')">
                                        <i class="fas fa-eye" id="togglePasswordIcon1"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="new password2" class="form-label">Confirm new password</label>
                                <div class="position-relative">
                                    <input type="password" class="form-control" name="waiter-password2" id="waiter-password2">
                                    <!-- Eye icon-->
                                    <span 
                                        class="position-absolute top-50 end-0 translate-middle-y me-3 cursor-pointer" 
                                        onclick="togglePasswordVisibility('waiter-password2', 'togglePasswordIcon2')">
                                        <i class="fas fa-eye" id="togglePasswordIcon2"></i>
                                    </span>
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                    </form>
                </div>
                </div>
            </div>

        </main>
        
        <br> <br>

    {% endblock %}

    <!-- Dynamic JavaScript Functionality -->
    {% block scripts %}

        
        {% comment %} Checks for any error messages, and displays swal pop ups{% endcomment %}
        {% if messages %}
            <script>
                {% for message in messages %}

                    var messageText = "{{ message|escapejs }}"
                    
                    {% comment %} Invalid login Swal Pop up  {% endcomment %}
                    if(messageText == "Invalid Employee ID / Password"){
                        Swal.fire({
                            icon: 'error',
                            title: 'Invalid Login!',
                            text: 'Incorrect Employee ID or Password',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // Redirecting after the alert is dismissed
                                window.location.href = "{% url 'waiter-login' %}";
                            }
                        });
                    }

                    //Waiter login first attempt, proceeding to change password
                    if(messageText == "Change password!"){
                        Swal.fire({
                            icon: 'success',
                            title: 'Login Successful!',
                            text: 'Please proceed to change your password',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                //Fill in the waiter ID value
                                document.getElementById("waiterID").value = "{{ waiterId }}"
                                
                                //Display modal
                                var modal = new bootstrap.Modal(document.getElementById("WUPModal"));
                                modal.show();
                            }
                        });
                    }
                 
                    {% comment %} Employee ID Unsuccessfully verified Swal pop up {% endcomment %}
                    if(messageText == "ID does not exist."){
                        Swal.fire({
                            icon: 'error',
                            title: 'Employee ID not found!',
                            text: 'Please check your details for verification',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // Redirecting after the alert is dismissed
                                window.location.href = "{% url 'waiter-login' %}";
                            }
                        });
                    }

                    {% comment %} Employee ID Successfully verified Swal Pop up {% endcomment %}
                    if(messageText == "ID exists!"){
                        Swal.fire({
                            icon: 'success',
                            title: 'Employee ID verified!',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                //Fill in the waiter ID value
                                document.getElementById("waiterID").value = "{{ waiterId }}"
                                
                                // Redirects user to update password
                                var updatePassModal = new bootstrap.Modal(document.getElementById("WUPModal"));
                                updatePassModal.show();
                            }
                        });
                    }

                    {% comment %} Successful password update Swal Pop Up{% endcomment %}
                    if(messageText == "Your password has been updated successfully!"){
                        Swal.fire({
                            icon: 'success',
                            title: 'Password Updated Successfully!',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // Redirects user to manager login page
                                window.location.href = "{% url 'waiter-login' %}"
                            }
                        });
                    }
                    

                {% endfor %}
            </script>

        {% endif %}

        <script>

            //Displays webpage title
            document.addEventListener("DOMContentLoaded", function () {
                //Set the title for the webpage
                document.title = "RMS Waiter Login";

            });

            //Displays modal when button 'forgot password' is clicked
            var button = document.getElementById("forgotpass-btn");
            button.addEventListener("click", function() {
                var myModal = new bootstrap.Modal(document.getElementById("WFPModal"));
                myModal.show();
            });

            //Checks that all values are filled in the form
            document.addEventListener("DOMContentLoaded", function() {
                document.getElementById("updateWaiterPasswordForm").addEventListener("submit", function(event) {
                    var newPassword = document.getElementById("waiter-password").value;
                    var confirmPassword = document.getElementById("waiter-password2").value;
                    
                    // Regular expression for password validation
                    var passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{7,}$/;

                    // Check if the password fields are empty
                    if (!newPassword || !confirmPassword) {
                        // Show the alert
                        alert("Please fill in the new password fields!");
            
                        // Prevent the form submission from redirecting or reloading the page
                        event.preventDefault();
                        return;
                    }

                    //Password Validation Checks
                    else{
                        // Check if password meets the strength requirements
                        if (!passwordPattern.test(newPassword)) {
                            alert("Password must be at least 7 characters long and contain uppercase, lowercase letters, and special characters.");
                            event.preventDefault();  // Prevent form submission
                            return;
                        }

                        // Check if passwords match
                        if (newPassword !== confirmPassword) {
                            alert("Passwords do not match.");
                            event.preventDefault();  // Prevent form submission
                            return;
                        }
                    } 
                });
            });
          
            //Function to toggle password toggle Password Visibility
            function togglePasswordVisibility(password, iconId){
                const passwordField = document.getElementById(password);
                const icon = document.getElementById(iconId);

                if(passwordField.type === "password"){
                    passwordField.type = "text";
                    icon.classList.remove("fa-eye");
                    icon.classList.add("fa-eye-slash");
                } else{
                    passwordField.type = "password";
                    icon.classList.remove("fa-eye-slash");
                    icon.classList.add("fa-eye");
                }
            }


        </script>

    {% endblock %}

</body>