<!-- Restaurant Waiter Notifications Interface, when logged in -->

{% extends 'layout.html' %}

{% block title %}
Restaurant Waiter Home Page
{% endblock %}


<body>

    {% block content %}

        <!-- Webpage Navbar -->
        <div id="navbar-menuItems">
            <nav style="background-color:#300909" class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="{{ media_url }}RestaurantLogoDesign-FYP.png" alt="Card Image">
                    </a>
                    <div class="dropdown" style="float:right; margin-right: 2rem;">
                        <a style="color:white;" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                        </svg>
                        {{ waiter.first_name }} {{ waiter.last_name }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" style="cursor:pointer" onclick="logOutConfirmation()">
                                <span style="color:black;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                                        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                                    </svg>
                                </span>
                                &nbsp;Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Waiter Interface Sidebar -->
        <div class="Cus-sidebar shadow-lg">

            <!-- Home Button -->
            <a onclick="window.location.href='{% url 'waiter-home' %}'">
                <span>
                    <svg class="mb-2" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                    </svg>
                </span> &nbsp; Home
            </a>
            
            <!-- Notifications Button -->
            <a id="WaiterNotBtn" onclick="window.location.href='{% url 'waiter-notifications' %}'">
                <span>
                    <svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
                    </svg>
                </span> &nbsp; Notifications
            </a>
            
            <!-- Basket Button -->
            <a onclick="window.location.href='{% url 'waiter-basket' %}'">
                <span class="icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                    </svg>
                    <!-- Badge with order item count -->
                    {% if order_item_count != 0 %}
                        <span class="badge">{{ order_item_count }}</span>
                    {% endif %}<span class="ms-3">Basket</span>
                </span>

            </a>

            <!-- Log Out Button -->
            <a onclick="logOutConfirmation()">
                <span>
                    <svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                    </svg>
                </span> &nbsp; Log Out
            </a>
        </div>

        <!-- Order Filters -->
        <div class="order-filter-container">

            <!-- Status -->
            <div class="dropdown-container" id="order-statuses" style="width:120px;">
                <select class="form-control custom-select" id="order-status" onchange="filterOrderItems(this.value)">
                    <option>Pending</option>
                    <option>Delayed</option>
                    <option>Ready</option>
                    <option>Delivered</option>
                </select>
            </div>

            <!-- Table -->
            <div class="dropdown-container" id="order-tables" style="width:100px;">
                <select class="form-control custom-select" id="table-filter">
                    <option value="all" selected style="color:gray;">All</option>
                    {% for table in tables %}
                        <option>{{ table.tableNo }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Date -->
            <div class="dropdown-container" id="order-dates" style="width:120px;">
                <select class="form-control custom-select" id="date-filter">
                    <option>Today</option>
                    <option>Last 7 days</option>
                    <option>Last 30 days</option>
                </select>

            </div>
           
        </div>

        <br><br>

        <!-- Orders Associated with waiter -->
        <div class="restaurant-orders" >

            {% if orders %}
                {% for order in orders %}
            
                        <div class="orderitem-box" onmouseover="this.style.transform='scale(1.05)'; this.style.boxShadow='0 6px 8px rgba(0, 0, 0, 0.15)';"
                        onmouseout="setBackgroundColor(this)" style="cursor:pointer">
                            {% if order.status != "Delivered"%}
                                <p class="order-title">Order: #{{ order.orderId }} 
                                    &nbsp;&nbsp;&nbsp;&nbsp;<button onclick="updateOrderStatus('{{ order.orderId }}')" class="mb-1 btn" 
                                    style="background-color: #FFB000; font-weight:bold; font-size:12px;">Mark Delivered</button>
                                </p> <!-- Title -->

                            {% else %}
                                <p class="order-title">Order: #{{ order.orderId }} </p> <!-- Title -->

                            {% endif %}

                            <div class="order-details">

                                {% if order.status == 'Pending' or order.status == 'Delayed'%}

                                    <p><svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hourglass-split" viewBox="0 0 16 16">
                                        <path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"/>
                                    </svg>&nbsp;&nbsp;Status: {{ order.status }}</p>

                                {% elif order.status == 'Ready' %}
                                    <p><svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                        <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                                    </svg>&nbsp;&nbsp;Status: {{ order.status }}</p>

                                {% elif order.status == 'Delivered' %}
                                    <p><svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
                                        <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
                                    </svg>&nbsp;&nbsp;Status: {{ order.status }}</p>

                                {% endif %}

                                <p><svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                                    <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"/>
                                    <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
                                    <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
                                </svg>&nbsp;&nbsp;Estimated Duration: {{ order.total_expected_duration }} mins</p>


                                <p><svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
                                    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 2h-4v3h4zm0 4h-4v3h4zm0 4h-4v3h3a1 1 0 0 0 1-1zm-5 3v-3H6v3zm-5 0v-3H1v2a1 1 0 0 0 1 1zm-4-4h4V8H1zm0-4h4V4H1zm5-3v3h4V4zm4 4H6v3h4z"/>
                                </svg>&nbsp;&nbsp;Table: <span id="order-tableNo">{{ order.table.tableNo }}</span></p>

                                <p><svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-plus" viewBox="0 0 16 16">
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
                                    <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5zM8 8a.5.5 0 0 1 .5.5V10H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V11H6a.5.5 0 0 1 0-1h1.5V8.5A.5.5 0 0 1 8 8"/>
                                </svg>&nbsp;&nbsp;Placed at: <span id="order-date">{{ order.placed_at}}</span></p>

                                <p><svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                                    <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"/>
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12"/>
                                  </svg>&nbsp;&nbsp;Total Amount: £{{ order.total_price|floatformat:2 }}</p>

                                <p><svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                                </svg>&nbsp;&nbsp;Customer: {{ order.customer_name }}</p>

                                <p><svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
                                    <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
                                  </svg>&nbsp;&nbsp;Order Items:</p>
                                  <ul>
                                    {% for item in order.order_items.all %}
                                        <p>
                                            {% if item.food_item %}

                                                <em>{{ item.food_item.food_name }} ({{ item.price}})</em>
                                                <em>
                                                {% if item.spice_level %} - Spice-Level: {{ item.spice_level }}{% endif %}
                                                {% if item.protein %}, Protein: {{ item.protein }}{% endif %}
                                                {% if item.food_sauce %}, Sauce: {{ item.food_sauce }}{% endif %}
                                                {% if item.soup_choice %}, Soup: {{ item.soup_choice }}{% endif %}
                                                {% if item.desert_sauce %} - Sauce: {{ item.desert_sauce }}{% endif %}
                                                {% if item.notes %}, Notes: {{ item.notes }}{% endif %}
                                                </em>
                                            {% else %}
                                                <em>{{ item.drink_item.drink_name }} ({{ item.price}})</em>
                                                <em>
                                                {% if item.drink_size %} - Size: {{ item.drink_size }}{% endif %}
                                                {% if item.has_ice == true %}, With Ice: Yes 
                                                
                                                {% else %}, With Ice: No

                                                {% endif %}

                                                {% if item.notes %}, Sauce: {{ item.notes }}{% endif %}
                                                
                                                </em>

                                            {% endif %}
                                        </p>
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>
                    
                {% endfor %}

            {% else %}

                <center><em><p style="color:gray; text-align:center; margin: 0 auto;">No orders to display</p></em></center>

            {% endif %}

        </div>

        <br><br>

    {% endblock %}
  
    <!-- Dynamic JavaScript Functionality -->
    {% block scripts %}

        <script>
            //Function to toggle navbar divs to highlight when clicked / active
            document.addEventListener("DOMContentLoaded", function () {
                filterOrderItems("Pending"); // Load pending orders by default
                let links = document.querySelectorAll(".Cus-sidebar a");
                let waiterNotButton = document.getElementById("WaiterNotBtn");
            
                // Function to set the active button
                function setActive(link) {
                    links.forEach(a => a.classList.remove("active"));
                    if (link) {
                        link.classList.add("active");
                        localStorage.setItem("activeLink", link.id); // Save active link in local storage
                    }
                }
            
                // Set active class when clicked
                links.forEach(link => {
                    link.addEventListener("click", function () {
                        setActive(this);
                    });
                });
            
                // Restore active state on page load
                let savedLinkId = localStorage.getItem("activeLink");
                let activeLink = savedLinkId ? document.getElementById(savedLinkId) : null;
            
                if (activeLink) {
                    setActive(activeLink); // Restore last active button
                } else if (waiterNotButton) {
                    setActive(waiterNotButton); // Default to Notifications Button
                }
            });

            //Function to display Swal Pop Up for when 'Log Out' is clicked
            function logOutConfirmation(){
                Swal.fire({
                    icon: 'warning',
                    title: 'Do you want to log out?',
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Logic for logging out
                        window.location.href = "{% url 'waiter-logout' %}";
                    } else if (result.isDismissed) {
                        // Logic for canceling logout
                        return false;
                    }
                });
            } 

            //Sets the title for the webpage
            document.addEventListener("DOMContentLoaded", function () {
                //Set the title for the webpage
                document.title = "RMS JJ Waiter";
            });

            // Function to get CSRF token from cookies
            function getCSRFToken() {
                let cookieValue = null;
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    if (cookie.startsWith('csrftoken=')) {
                        cookieValue = cookie.substring('csrftoken='.length, cookie.length);
                        break;
                    }
                }
                return cookieValue;
            }

            // Function to set background color based on mouseout hover
            function setBackgroundColor(element) {
                element.style.transform = 'scale(1)';  // Reset scaling
                element.style.boxShadow = '2px 2px 10px rgba(0, 0, 0, 0.1)';// Reset box-shadow
                element.style.backgroundColor = '#fff';
            }

            //Function which updates the status of the order to 'delivered'
            function updateOrderStatus(orderID){
                $.ajax({
                    url: `/users/updateOrderStatusWaiter/${orderID}/`,
                    type: 'POST',
                    headers: { "X-CSRFToken": getCSRFToken() },
                    success: function(response) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Status Updated!',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        });
                    },
                    error: function(xhr, status, error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Order Status not updated!',
                            text: 'There was an issue updating the order status.'
                        });

                    }
                });
            }

            //Performs filtering of order items based on values
            document.addEventListener("DOMContentLoaded", function() {
                filterOrderItems("Pending"); // Load pending orders by default
                const tableFilter = document.getElementById("table-filter");
                const dateFilter = document.getElementById("date-filter");

                if (dateFilter) {
                    dateFilter.value = "Today"; // Set default selection
                }

                if (tableFilter) {
                    tableFilter.addEventListener("change", function () {
                        const selectedStatus = document.querySelector("#order-status").value;
                        filterOrderItems(selectedStatus);

                    });
                }

                if (dateFilter) {
                    dateFilter.addEventListener("change", function () {
                        const selectedStatus = document.querySelector("#order-status").value;
                        filterOrderItems(selectedStatus);
                    });
                }

            });
            
            //Function to filter orders based on status
            function filterOrderItems(status) {
                const orderItems = document.querySelectorAll(".orderitem-box");
                const parentContainer = document.querySelector(".restaurant-orders");
                const tableFilter = document.getElementById("table-filter");
                const dateFilter = document.getElementById("date-filter");

                const selectedTable = tableFilter ? tableFilter.value.trim() : "";
                const selectedDateRange = dateFilter ? dateFilter.value.trim().toLowerCase() : "today";
                console.log(selectedDateRange);

                if (parentContainer) {
                    parentContainer.style.display = "grid";
                    parentContainer.style.gridTemplateColumns = "repeat(3, 1fr)";
                    parentContainer.style.gap = "30px";
                    parentContainer.style.margin = "0 auto";
                    parentContainer.style.paddingLeft = "200px";
                }
            
                //Date Filter Logic
                const now = new Date();
                const today = new Date();
                today.setHours(0, 0, 0, 0);

                const last7Days = new Date(today);
                last7Days.setDate(today.getDate() - 7);

                const last30Days = new Date(today);
                last30Days.setDate(today.getDate() - 30);


                orderItems.forEach(item => {
                    const itemStatus = item.querySelector(".order-details p").textContent.trim();
                    const itemTableElement = item.querySelector("#order-tableNo"); // Get the table number element inside the item
                    const itemTable = itemTableElement ? itemTableElement.textContent.trim() : "";
                    
                    //Retrieves order item date
                    const itemDateElement = item.querySelector("#order-date");
                    const itemDateText = itemDateElement ? itemDateElement.textContent.trim() : "";
                    const itemDate = parseCustomDate(itemDateText);
                    console.log(itemDate)

                    // Check if status and table match
                    const statusMatches = (status === "all" || itemStatus.includes(status));
                    const tableMatches = (selectedTable === "all" || itemTable === selectedTable);
                    let dateMatches = true;
                    
                    //Filters based on selected value
                    if (itemDate instanceof Date && !isNaN(itemDate)) {
                        if (selectedDateRange === "today") {
                            dateMatches = itemDate >= today;
                        } else if (selectedDateRange === "last 7 days") {
                            dateMatches = itemDate >= last7Days;
                        } else if (selectedDateRange === "last 30 days") {
                            dateMatches = itemDate >= last30Days;
                        }
                    } else {
                        dateMatches = false; // If date is invalid, do not display
                    }
        

                    if (statusMatches && tableMatches && dateMatches) {
                        item.style.display = "block";
                        item.style.border = "1px solid #ccc";
                        item.style.padding = "10px";
                        item.style.borderRadius = "8px";
                        item.style.background = "#fff";
                        item.style.boxShadow = "2px 2px 10px rgba(0, 0, 0, 0.1)";
                        item.style.width = "25vw";
                        item.style.height = "63vh";
                    } else {
                        item.style.display = "none";
                    }
                });
            
                parentContainer.offsetHeight; // Force reflow
            }

            //Function which parses date value into JavaScript Date Object
            function parseCustomDate(dateString) {
                if (!dateString) return null;
            
                try {
                    // Remove the time and extract the date
                    const [datePart, timePart] = dateString.split(", ");
                    const formattedDateString = datePart + "," + timePart.replace(/\./g, ""); // Remove dots
            
                    // Convert "March 19, 2025, 7:21 p.m." into a valid Date object
                    return new Date(formattedDateString);
                } catch (error) {
                    console.error("Invalid date format:", dateString);
                    return null;
                }
            }
            

        </script>

    {% endblock %}

</body>