<!-- Restaurant Customer Home Page Interface, when logged in -->

{% extends 'layout.html' %}

{% block title %}
    Restaurant Customer Home Page
{% endblock %}

<body>

    {% block content %}

        <!-- Webpage Navbar -->
        <div id="navbar-menuItems">
            <nav style="background-color:#300909" class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="{{ media_url }}RestaurantLogoDesign-FYP.png" alt="Card Image">
                    </a>
                    <div class="dropdown" style="float:right; margin-right: 2rem;">
                        <a style="color:white;" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                        </svg>
                        {{ customer.first_name }} {{ customer.last_name }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" style="cursor:pointer" onclick="logOutConfirmation()">
                                <span style="color:black;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                                        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                                    </svg>
                                </span>
                                &nbsp;Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Customer Interface Sidebar -->
        <div class="Cus-sidebar shadow-lg">
            <a id="CustomerHomeBtn">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                    </svg>
                </span> &nbsp; Home
            </a>
            <div class="sidebar-btn" style="border">
                <a>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                        </svg>
                    </span> &nbsp; Favourites
                </a>
            </div>
            <a>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                    </svg>
                </span> &nbsp; Basket
            </a>

            <a>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chat-left-text" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                        <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6m0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
                    </svg>
                </span> &nbsp; Make Review
            </a>

            <a onclick="logOutConfirmation()">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                    </svg>
                </span> &nbsp; Log Out
            </a>
        </div>

        <!-- Category Filter Container -->
        <div class="category-container">
            <label><input type="radio" name="category" class="mt-1" checked> Main Meal</label>
            <label><input type="radio" name="category" class="mt-1"> Fast Food</label>
            <label><input type="radio" name="category" class="mt-1"> Sides</label>
            <label><input type="radio" name="category" class="mt-1"> Drinks</label>
            <label><input type="radio" name="category" class="mt-1"> Deserts</label>
        </div>

        <br><br><br>

        <!-- Restaurant menu - Food Items-->
        <div class="restaurant-menu">
            {% for item in food %}

            <div class="menuitem-box" onmouseover="this.style.transform='scale(1.05)'; this.style.boxShadow='0 6px 8px rgba(0, 0, 0, 0.15)';"
            onmouseout="setBackgroundColor(this)">
                <!-- Food Image -->
                <img src="{{ media_url }}{{ item.image }}" alt="{{ item.food_name }}" class="food-image">

                <!-- Food Id -->
                <input hidden class="food-id" value="{{ item.foodId }}">
                
                <!-- Category -->
                <input hidden class="food-category" value="{{ item.category }}">
                <input hidden id="fooditemType" value="food">

                <!-- Food Name -->
                <h3 class="food-name">{{ item.food_name }}</h3>
    
                <!-- Price -->
                <p class="food-price">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                        <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"/>
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12"/>
                      </svg> &nbsp;&nbsp; {{ item.price }}</p>
    
                <!-- Calories -->
                <p class="food-calories">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                        <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16m0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15"/>
                    </svg> &nbsp;&nbsp; {{ item.calories }} </p>
            
                <!-- View More Info Button -->
                <div class="viewBtn-Div" onclick="openMenuItemInfoModal('{{ item.foodId }}', document.getElementById('fooditemType').value)">
                    <button class="btn" id="view-info-btn" style="background-color: #FFB000; width:100%;" onmouseover="this.style.backgroundColor='#CC8A00';"
                    onmouseout="this.style.backgroundColor='#FFB000';">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                          </svg> View more
                    </button>
                </div>

                <br>

                <!-- Add to Basket and Favourite Buttons -->
                <div class="menu-actions">
                    <button class="btn btn-success">
                        <svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                          </svg> Basket
                    </button>
                    <button id="favouriteBtn" class="btn btn-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                        </svg> <span id="favText">Favourite </span>
                    </button>
                </div>
            </div>

            {% endfor %}
        </div>

        <!-- Restaurant menu - Drink Items -->
        <div class="restaurant-menu-drinks">
            {% for category in drinkCategories %}
                <div class="drink-category">
                    {% if category == "Alcohol" %}
                        <h2 class="category-title">Alcoholic Drinks</h2>
                    {% else %}
                        <h2 class="category-title">{{ category }}</h2>
                    {% endif %}
                </div>
                <div class="drink-category-row">
                    {% for item in drinks %}
                        {% if item.category == category %}
                            <div class="drink-menuitem-box"
                                onmouseover="this.style.transform='scale(1.05)'; this.style.boxShadow='0 6px 8px rgba(0, 0, 0, 0.15)';"
                                onmouseout="setBackgroundColor(this)">
        
                                <!-- Drink Image -->
                                <img src="{{ media_url }}{{ item.image }}" alt="{{ item.drink_name }}" class="drink-image">
        
                                <!-- Drink Id -->
                                <input hidden class="drink-id" value="{{ item.drinkId }}">
                                <input hidden id="drinkitemType" value="drink">

                                <!-- Drink Name -->
                                <h3 class="drink-name">{{ item.drink_name }}</h3>
        
                                <!-- Price -->
                                <p class="drink-price">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                                        <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"/>
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                        <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12"/>
                                    </svg> &nbsp;&nbsp; {{ item.price }}
                                </p>
        
                                <!-- Calories -->
                                <p class="drink-calories">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                                        <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16m0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15"/>
                                    </svg> &nbsp;&nbsp; {{ item.calories }}
                                </p>

                                <!-- Alcohol Concentration -->
                                {% if category == 'Alcohol'%}
                                    <p class="drink-AlcoholConc">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cup-straw" viewBox="0 0 16 16">
                                            <path d="M13.902.334a.5.5 0 0 1-.28.65l-2.254.902-.4 1.927c.376.095.715.215.972.367.228.135.56.396.56.82q0 .069-.011.132l-.962 9.068a1.28 1.28 0 0 1-.524.93c-.488.34-1.494.87-3.01.87s-2.522-.53-3.01-.87a1.28 1.28 0 0 1-.524-.93L3.51 5.132A1 1 0 0 1 3.5 5c0-.424.332-.685.56-.82.262-.154.607-.276.99-.372C5.824 3.614 6.867 3.5 8 3.5c.712 0 1.389.045 1.985.127l.464-2.215a.5.5 0 0 1 .303-.356l2.5-1a.5.5 0 0 1 .65.278M9.768 4.607A14 14 0 0 0 8 4.5c-1.076 0-2.033.11-2.707.278A3.3 3.3 0 0 0 4.645 5c.146.073.362.15.648.222C5.967 5.39 6.924 5.5 8 5.5c.571 0 1.109-.03 1.588-.085zm.292 1.756C9.445 6.45 8.742 6.5 8 6.5c-1.133 0-2.176-.114-2.95-.308a6 6 0 0 1-.435-.127l.838 8.03c.013.121.06.186.102.215.357.249 1.168.69 2.438.69s2.081-.441 2.438-.69c.042-.029.09-.094.102-.215l.852-8.03a6 6 0 0 1-.435.127 9 9 0 0 1-.89.17zM4.467 4.884s.003.002.005.006zm7.066 0-.005.006zM11.354 5a3 3 0 0 0-.604-.21l-.099.445.055-.013c.286-.072.502-.149.648-.222"/>
                                        </svg> &nbsp;&nbsp; {{ item.alcoholConc }}
                                    </p>

                                {% endif %}

                                <!-- View More Info Button -->
                                <div class="viewBtn-Div" onclick="openMenuItemInfoModal('{{ item.drinkId }}', document.getElementById('drinkitemType').value)">
                                    <button class="btn" id="view-info-btn" style="background-color: #FFB000; width:100%;" onmouseover="this.style.backgroundColor='#CC8A00';"
                                    onmouseout="this.style.backgroundColor='#FFB000';">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                        </svg> View more
                                    </button>
                                </div>

                                <br>

                                <!-- Add to basket and Favourite Buttons -->
                                <div class="menu-actions">
                                    <button class="btn btn-success">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                          </svg> Basket
                                    </button>
                                    <button id="favouriteBtn" class="btn btn-secondary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                        </svg> <span id="favText">Favourite </span>
                                    </button>
                                </div>

                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <br><br>

        <!-- Menu Item Information Modal ~ Food -->
        <div class="modal fade" id="FoodInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title d-flex align-items-center" id="exampleModalLongTitle">
                        <span id="food-name" class="ms-1"></span>
                      </h5>
                  </div>
                  <div class="modal-body">

                    <div class="mb-3 d-flex" style="width: 100%;">
                        <!-- Food Image -->
                        <span style="width: 100%; border-radius:5px;">
                            <img id="food-image" src="" alt="Food Image Preview" style="width: 100%; height: 25vw; object-fit: cover;">
                        </span>
                    </div>

                    <div class="mb-3 d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                            <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"/>
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12"/>
                        </svg>
                      <span>&nbsp;&nbsp; Price:</span> <span id="food-price" class="ms-2"></span>
                    </div>

                    <div class="mb-3 d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                            <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16m0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15"/>
                        </svg>
                      <span>&nbsp;&nbsp; Calories:</span> <span id="food-calories" class="ms-2"></span>
                    </div>
                                        
                    <div class="mb-3 d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                            <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"/>
                            <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
                            <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
                        </svg>
                      <span>&nbsp;&nbsp; Estimated Preparation Time: </span> <span id="food-duration" class="ms-2"></span>
                    </div>

                    <div class="mb-3 d-flex flex-column">
                        <!-- Top Row: Icon and Label -->
                        <div class="d-flex align-items-center">
                            <!-- SVG Icon for Basket -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9zM1 7v1h14V7zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5"/>
                            </svg>
                    
                            <!-- Ingredients Label -->
                            <span class="ms-2">&nbsp;&nbsp;Ingredients:</span>
                        </div>

                        <!-- Ingredients Text -->
                        <div class="ms-1 mt-2">
                            <em>
                                <span style="font-size:13px;" id="food-ingredients"></span>
                            </em>
                        </div>
                    </div>

                    <div class="mb-3 d-flex" id="AllergenCont">
                        <svg style="color:red;" xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-bug" viewBox="0 0 16 16">
                            <path d="M4.355.522a.5.5 0 0 1 .623.333l.291.956A5 5 0 0 1 8 1c1.007 0 1.946.298 2.731.811l.29-.956a.5.5 0 1 1 .957.29l-.41 1.352A5 5 0 0 1 13 6h.5a.5.5 0 0 0 .5-.5V5a.5.5 0 0 1 1 0v.5A1.5 1.5 0 0 1 13.5 7H13v1h1.5a.5.5 0 0 1 0 1H13v1h.5a1.5 1.5 0 0 1 1.5 1.5v.5a.5.5 0 1 1-1 0v-.5a.5.5 0 0 0-.5-.5H13a5 5 0 0 1-10 0h-.5a.5.5 0 0 0-.5.5v.5a.5.5 0 1 1-1 0v-.5A1.5 1.5 0 0 1 2.5 10H3V9H1.5a.5.5 0 0 1 0-1H3V7h-.5A1.5 1.5 0 0 1 1 5.5V5a.5.5 0 0 1 1 0v.5a.5.5 0 0 0 .5.5H3c0-1.364.547-2.601 1.432-3.503l-.41-1.352a.5.5 0 0 1 .333-.623M4 7v4a4 4 0 0 0 3.5 3.97V7zm4.5 0v7.97A4 4 0 0 0 12 11V7zM12 6a4 4 0 0 0-1.334-2.982A3.98 3.98 0 0 0 8 2a3.98 3.98 0 0 0-2.667 1.018A4 4 0 0 0 4 6z"/>
                          </svg>
                      <span>&nbsp;&nbsp; Allergen: </span> <em><span style="font-size:15px;" id="food-allergen" class="ms-2"></span></em>
                    </div>                    
                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
        </div>

        <!-- Menu Item Information Modal ~ Drink -->
        <div class="modal fade" id="DrinkInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title d-flex align-items-center" id="exampleModalLongTitle">
                        <span id="drink-name" class="ms-1"></span>
                      </h5>
                  </div>
                  <div class="modal-body">

                    <div class="mb-3 d-flex" style="width: 100%;">
                        <!-- Drink Image -->
                        <span style="width: 100%; border-radius:5px;">
                            <img id="drink-image" src="" alt="Drink Image Preview" style="width: 100%; height: 25vw; object-fit: cover;">
                        </span>
                    </div>


                    <div class="mb-3 d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                            <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"/>
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12"/>
                        </svg>
                      <span>&nbsp;&nbsp; Price:</span> <span id="drink-price" class="ms-2"></span>
                    </div>

                    <div class="mb-3 d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                            <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16m0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15"/>
                        </svg>
                      <span>&nbsp;&nbsp; Calories:</span> <span id="drink-calories" class="ms-2"></span>
                    </div>
                                        
                    <div class="mb-3 d-flex flex-column">
                        <!-- Top Row: Icon and Label -->
                        <div class="d-flex align-items-center">
                            <!-- SVG Icon for Info Description -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-chat-left-text" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6m0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
                            </svg>    
                    
                            <!-- Description Label -->
                            <span class="ms-2 mb-1">&nbsp;&nbsp;Description:</span>
                        </div>

                        <!-- Description Text -->
                        <div class="ms-1 mt-2">
                            <em>
                                <span style="font-size:13px;" id="drink-desc"></span>
                            </em>
                        </div>
                    </div>
                    
                    <div class="mb-3 d-flex" id="alcoholConcInfo">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-cup-straw" viewBox="0 0 16 16">
                            <path d="M13.902.334a.5.5 0 0 1-.28.65l-2.254.902-.4 1.927c.376.095.715.215.972.367.228.135.56.396.56.82q0 .069-.011.132l-.962 9.068a1.28 1.28 0 0 1-.524.93c-.488.34-1.494.87-3.01.87s-2.522-.53-3.01-.87a1.28 1.28 0 0 1-.524-.93L3.51 5.132A1 1 0 0 1 3.5 5c0-.424.332-.685.56-.82.262-.154.607-.276.99-.372C5.824 3.614 6.867 3.5 8 3.5c.712 0 1.389.045 1.985.127l.464-2.215a.5.5 0 0 1 .303-.356l2.5-1a.5.5 0 0 1 .65.278M9.768 4.607A14 14 0 0 0 8 4.5c-1.076 0-2.033.11-2.707.278A3.3 3.3 0 0 0 4.645 5c.146.073.362.15.648.222C5.967 5.39 6.924 5.5 8 5.5c.571 0 1.109-.03 1.588-.085zm.292 1.756C9.445 6.45 8.742 6.5 8 6.5c-1.133 0-2.176-.114-2.95-.308a6 6 0 0 1-.435-.127l.838 8.03c.013.121.06.186.102.215.357.249 1.168.69 2.438.69s2.081-.441 2.438-.69c.042-.029.09-.094.102-.215l.852-8.03a6 6 0 0 1-.435.127 9 9 0 0 1-.89.17zM4.467 4.884s.003.002.005.006zm7.066 0-.005.006zM11.354 5a3 3 0 0 0-.604-.21l-.099.445.055-.013c.286-.072.502-.149.648-.222"/>
                        </svg>
                      <span>&nbsp;&nbsp; Alcohol Concentration: </span> <span id="drink-alcohol-conc" class="ms-2"></span>
                    </div>         

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
        </div>

    {% endblock %}

    
    <!-- Dynamic JavaScript Functionality -->
    {% block scripts %}

        <script>
            //Function to display Swal Pop Up for when 'Log Out' is clicked
            function logOutConfirmation(){
                Swal.fire({
                    icon: 'warning',
                    title: 'Do you want to log out?',
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Logic for logging out
                        window.location.href = "{% url 'customer-logout' %}";
                    } else if (result.isDismissed) {
                        // Logic for canceling logout
                        return false;
                    }
                });
            } 

            //Sets the title for the webpage
            document.addEventListener("DOMContentLoaded", function () {
                //Set the title for the webpage
                document.title = "RMS JJ Customer";
            });

            // Function to get CSRF token from cookies
            function getCSRFToken() {
                let cookieValue = null;
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    if (cookie.startsWith('csrftoken=')) {
                        cookieValue = cookie.substring('csrftoken='.length, cookie.length);
                        break;
                    }
                }
                return cookieValue;
            }

            //Function which toggles display of menu items, based on category selected
            document.addEventListener("DOMContentLoaded", function () {

                const radioButtons = document.querySelectorAll("input[name='category']");
                const drinkMenuDiv = document.querySelector(".restaurant-menu-drinks");
                drinkMenuDiv.style.display = "none";

                radioButtons.forEach(radio => {
                    radio.addEventListener("change", function () {
                        const selectedCategory = this.parentElement.textContent.trim();
                        if(selectedCategory === "Drinks"){
                            displayDrinkItems();
                        }
                        else{
                            filterMenuItems(selectedCategory);
                        }
                    });
                });

                function displayDrinkItems(){
                    const drinkMenuDiv = document.querySelector(".restaurant-menu-drinks");
                    const foodMenuDiv = document.querySelector(".restaurant-menu");
                    const menuItems = document.querySelectorAll(".drink-menuitem-box");

                    foodMenuDiv.style.display = "none";

                    //Drink Container
                    drinkMenuDiv.style.display = "flex";
                    drinkMenuDiv.style.flexWrap = "wrap";
                    drinkMenuDiv.style.gap = "35px";
                    drinkMenuDiv.style.justifyContent = "flex-start";
                    drinkMenuDiv.style.margin = "0 auto";
                    drinkMenuDiv.style.paddingLeft = "250px";

                    // Apply styles to category title
                    const categoryTitles = document.querySelectorAll(".category-title");
                    categoryTitles.forEach(title => {
                        title.style.fontSize = "24px";
                        title.style.fontWeight = "bold";
                        title.style.textAlign = "left";
                        title.style.padding = "10px 0";
                        title.style.borderBottom = "2px solid #FFB000";
                        title.style.color = "#444444";
                        title.offsetHeight;
                    });

                    // Apply styles to category rows
                    const categoryRows = document.querySelectorAll(".drink-category-row");
                    categoryRows.forEach(row => {
                        row.style.display = "grid";
                        row.style.gridTemplateColumns = "repeat(4, minmax(200px, 1fr))"; // 4 equal columns
                        row.style.gap = "35px"; 
                        row.offsetHeight;
                    });

                    //Apply styles to drink category
                    const drinkCategories = document.querySelectorAll(".drink-category");
                    drinkCategories.forEach(row => {
                        row.style.width = "100%";
                        row.style.marginTop = "10px";
                        row.offsetHeight;
                    });

                    //Apply syles to buttons

                    const menuActions = document.querySelectorAll(".menu-actions");
                    menuActions.forEach(row => {
                        row.style.display = "flex";
                        row.style.gap = "10px";
                        row.marginTop = "10px;"
                        row.offsetHeight;
                    });

                    //Item Style Display
                    menuItems.forEach(item => {
                        //Item Style Display 
                        item.style.display = "flex";
                        item.style.flexDirection = "column";
                        item.style.alignItems = "center";
                        item.style.padding = "15px";
                        item.style.borderRadius = "10px";
                        item.style.background = "#f8f8f8";
                        item.style.boxShadow = "2px 2px 10px rgba(0, 0, 0, 0.1)";
                        item.style.textAlign = "center";
                        item.style.cursor = "pointer";
                        item.style.position = "relative";
                        item.style.transition = "transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease";
                        item.style.width = "100%";
                        item.style.maxWidth = "270px";
                        item.style.minWidth = "210px";
                    });

                    drinkMenuDiv.offsetHeight;

                }
                
                function filterMenuItems(category) {
                    const menuItems = document.querySelectorAll(".menuitem-box");
                    const parentContainer = document.querySelector(".restaurant-menu");
                    const drinkMenuDiv = document.querySelector(".restaurant-menu-drinks");
                    drinkMenuDiv.style.display = "none";


                    if (parentContainer) {
                        parentContainer.style.display = "flex";
                        parentContainer.style.flexWrap = "wrap";
                        parentContainer.style.gap = "35px";
                        parentContainer.style.justifyContent = "flex-start";
                        parentContainer.style.margin = "0 auto";
                        parentContainer.style.paddingLeft = "250px";
                    }

                    menuItems.forEach(item => {
                        const itemCategory = item.querySelector(".food-category").value;
                        
                        if (itemCategory === category) {
                            item.style.display = "flex";
                            item.style.flexDirection = "column";
                            item.style.alignItems = "center";
                            item.style.padding = "15px";
                            item.style.borderRadius = "10px";
                            item.style.background = "#f8f8f8";
                            item.style.boxShadow = "2px 2px 10px rgba(0, 0, 0, 0.1)";
                            item.style.textAlign = "center";
                            item.style.cursor = "pointer";
                            item.style.position = "relative";
                            item.style.transition = "transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease";
                            item.style.width = "calc(25% - 20px)";
                            item.style.minWidth = "200px";
                            item.style.maxWidth = "250px";

                        } else {
                            item.style.display = "none";
                        }
                    });

                    parentContainer.offsetHeight;
                }
                
                // Initialize filter with checked category
                const checkedRadio = document.querySelector("input[name='category']:checked");
                if (checkedRadio) {
                    filterMenuItems(checkedRadio.parentElement.textContent.trim());
                }
            });

            //Function which opens the menu item information box (modal)
            function openMenuItemInfoModal(itemID, itemType){
                fetch(`/users/fetch-item-details/${itemID}/${itemType}/`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                        return response.json();

                    })
                    .then(data => {
                        if(data.success){
                            if(itemType == "food"){
                                //Fill in the form with the fetched data
                                document.getElementById("food-name").textContent = data['name'];
                                document.getElementById("food-price").textContent = data['price'];
                                document.getElementById("food-calories").textContent = data['calories'];
                                document.getElementById("food-ingredients").textContent = data['ingredients'];
                                document.getElementById("food-image").src = data['image'];
                                document.getElementById("food-image").style.display = "block";
                                document.getElementById("food-duration").textContent = data['duration'];

                                if(!data['allergen']){
                                    document.getElementById("food-allergen").textContent = "N/A";
                                }else{
                                    document.getElementById("food-allergen").textContent = "Could contain " + data['allergen'];
                                }
                    
                                //Display the modal
                                var modal = new bootstrap.Modal(document.getElementById("FoodInfoModal"));
                                modal.show();
                            }

                            else if(itemType == "drink"){
                                //Fill in the form elements 
                                document.getElementById("drink-name").textContent = data['drinkName'];                                
                                document.getElementById("drink-price").textContent = data['drinkPrice'];
                                document.getElementById("drink-calories").textContent = data['drinkCalories'];
                                document.getElementById("drink-image").src = data['drinkImage'];
                                document.getElementById("drink-image").style.display = "block";
                                document.getElementById("drink-desc").textContent = data['description'];

                                if(!data['alcoholConc']){
                                    document.getElementById("drink-alcohol-conc").textContent = "N/A";
                                } else{
                                    document.getElementById("drink-alcohol-conc").textContent = data['alcoholConc'];
                                }

                                //Display the modal
                                var drinksModal = new bootstrap.Modal(document.getElementById("DrinkInfoModal"));
                                drinksModal.show();
                            }
                           
                        } else{
                            console.error("Error:", data.message);
                        }
                    })
                    .catch(error => {
                        console.error("Error fetching menu item details:", error);
                    });
                
            }
            
            // Function to set background color based on mouseout hover
            function setBackgroundColor(element) {
                element.style.transform = 'scale(1)';  // Reset scaling
                element.style.boxShadow = '2px 2px 10px rgba(0, 0, 0, 0.1)';// Reset box-shadow
                element.style.backgroundColor = '#f8f8f8';
            }

            //Function to toggle navbar divs to highlight when clicked / active
            document.addEventListener("DOMContentLoaded", function () {

                let links = document.querySelectorAll(".Cus-sidebar a");
                let cusHomeButton = document.getElementById("CustomerHomeBtn");
            
                // Function to set the active button
                function setActive(link) {
                    links.forEach(a => a.classList.remove("active"));
                    if (link) {
                        link.classList.add("active");
                        localStorage.setItem("activeLink", link.id); // Save active link in local storage
                    }
                }
            
                // Set active class when clicked
                links.forEach(link => {
                    link.addEventListener("click", function () {
                        setActive(this);
                    });
                });
            
                // Restore active state on page load
                let savedLinkId = localStorage.getItem("activeLink");
                let activeLink = savedLinkId ? document.getElementById(savedLinkId) : null;
            
                if (activeLink) {
                    setActive(activeLink); // Restore last active button
                } else if (cusHomeButton) {
                    setActive(cusHomeButton); // Default to MetricsButton
                }
            });

            //Favourite Button Functionality and color toggle effect
            var btn = document.getElementById("favouriteBtn");
            btn.addEventListener("click", function() {
                btn.style.backgroundColor = "#ee3b71";
                btn.style.color = "white";
                
                document.getElementById("favText").innerText = "Remove";
                btn.classList.remove("btn-secondary");      
                Swal.fire({
                    icon: 'success',
                    title: 'Item added to favourites!',
                }).then((result) => {
                    if (result.isConfirmed) {
                        return false;
                    }
                });
            });

        </script>

    {% endblock %}

</body>
