<!-- Restaurant Customer ~ Login Page Interface -->
{% extends 'layout.html' %}

{% block title %}
    Restaurant Customer Login Page
{% endblock %} 

<body>

    {% block content %}

        
        <br> <br>

        <main>
            <!-- Login In Container-->
            <div class="container shadow-lg" style="padding:30px;">
                <h1>Restaurant Customer Login</h1>
                <br>
                <div class="container-image">
                    <img style="border-radius:5px; max-width:100%; height:40vh" src="{{ media_url }}RestaurantLogoDesign-FYP.png" class="card-img-top" alt="Card Image">
                </div>
                <br>
                <!-- Form -->
                <form method="post" action="{% url 'customer-auth' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="customer-Email" name="customer-email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="customer-password" name="customer-password" required>
                    </div>
                    <div>
                        <button type="submit" class="btn man-login-btn" style="width:100%; background-color:#FFB000" onmouseover="this.style.backgroundColor='#CC8A00';"
                        onmouseout="this.style.backgroundColor='#FFB000';">Login</button>
                    </div>
                    <br>
                    <div>
                        <button type="button" class="btn btn-secondary" id="forgotpass-btn" style="width:100%">Forgot Password</button>
                    </div>
                </form>
            </div>

            <!-- Forgot Password Modal ~ Enter email-->
            <div class="modal fade" id="CFPModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Forgot Password Portal</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="CustomerEmailAddForm" method="post" action="{% url 'customer-email-ver' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="email" class="form-label">Enter your email</label>
                                <input type="email" class="form-control" name="customerEmail" id="customerEmail" placeholder="example@example.com">
                            </div>
                        
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    </form>
                </div>
                </div>
            </div>

            <!-- Update Password Modal -->
            <div class="modal fade" id="CUPModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Update Password</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="updateCustomerPasswordForm" method="post" action="{% url 'update-customer-password' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="new password" class="form-label">Enter new password</label>
                                <input type="text" id="customer-email-add" name="customer-email-add" hidden/> 
                                <div class="position-relative">
                                    <input type="password" class="form-control" name="customer-password" id="customer-password" placeholder="Enter at least 7 characters (a-z, A-Z, 0-9, *#$)">
                                    <!-- Eye icon-->
                                    <span 
                                        class="position-absolute top-50 end-0 translate-middle-y me-3 cursor-pointer" 
                                        onclick="togglePasswordVisibility('manpassword', 'togglePasswordIcon1')">
                                        <i class="fas fa-eye" id="togglePasswordIcon1"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="new password2" class="form-label">Confirm new password</label>
                                <div class="position-relative">
                                    <input type="password" class="form-control" name="customer-password2" id="customer-password2">
                                    <!-- Eye icon-->
                                    <span 
                                        class="position-absolute top-50 end-0 translate-middle-y me-3 cursor-pointer" 
                                        onclick="togglePasswordVisibility('manpassword2', 'togglePasswordIcon2')">
                                        <i class="fas fa-eye" id="togglePasswordIcon2"></i>
                                    </span>
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                    </form>
                </div>
                </div>
            </div>

        </main>
        
        <br> <br>

    {% endblock %}

    <!-- Dynamic JavaScript Functionality -->
    {% block scripts %}

          {% comment %} Checks for any error messages, and displays swal pop ups{% endcomment %}
          {% if messages %}
            <script>
              {% for message in messages %}

                  var messageText = "{{ message|escapejs }}"
                  
                  {% comment %} Invalid login Swal Pop up  {% endcomment %}
                  if(messageText == "Invalid Email / Password"){
                      Swal.fire({
                          icon: 'error',
                          title: 'Invalid Login!',
                          text: 'Incorrect Email or Password',
                      }).then((result) => {
                          if (result.isConfirmed) {
                              // Redirecting after the alert is dismissed
                              window.location.href = "{% url 'customer-login' %}";
                          }
                      });
                  }

                  {% comment %} Email Unsuccessfully verified Swal pop up {% endcomment %}
                  if(messageText == "Email does not exist."){
                      Swal.fire({
                          icon: 'error',
                          title: 'Email not found!',
                          text: 'Please check your details for verification',
                      }).then((result) => {
                          if (result.isConfirmed) {
                              // Redirecting after the alert is dismissed
                              window.location.href = "{% url 'customer-login' %}";
                          }
                      });
                  }

                  {% comment %} Email Successfully verified Swal Pop up {% endcomment %}
                  if(messageText == "Email exists!"){
                      Swal.fire({
                          icon: 'success',
                          title: 'Email verified!',
                      }).then((result) => {
                          if (result.isConfirmed) {
                              //Fill in the email value
                              document.getElementById("customer-email-add").value = "{{ email }}"
                              
                              // Redirects user to update password
                              var myModal = new bootstrap.Modal(document.getElementById("CUPModal"));
                              myModal.show();
                          }
                      });
                  }

                  {% comment %} Successful password update Swal Pop Up{% endcomment %}
                  if(messageText == "Your password has been updated successfully!"){
                      Swal.fire({
                          icon: 'success',
                          title: 'Password Updated Successfully!',
                      }).then((result) => {
                          if (result.isConfirmed) {
                              // Redirects user to manager login page
                              window.location.href = "{% url 'customer-login' %}"
                          }
                      });
                  }
                  

              {% endfor %}
            </script>

          {% endif %}


        <script>

            //Displays webpage title
            document.addEventListener("DOMContentLoaded", function () {
                //Set the title for the webpage
                document.title = "RMS JJ Customer Login";
            });
        
            //Displays modal when button 'forgot password' is clicked
            var button = document.getElementById("forgotpass-btn");
            button.addEventListener("click", function() {
                var myModal = new bootstrap.Modal(document.getElementById("CFPModal"));
                myModal.show();
            });

            //Function to toggle password toggle Password Visibility
            function togglePasswordVisibility(password, iconId){
                const passwordField = document.getElementById(password);
                const icon = document.getElementById(iconId);

                if(passwordField.type === "password"){
                    passwordField.type = "text";
                    icon.classList.remove("fa-eye");
                    icon.classList.add("fa-eye-slash");
                } else{
                    passwordField.type = "password";
                    icon.classList.remove("fa-eye-slash");
                    icon.classList.add("fa-eye");
                }
            }

            //Checks that all values are filled in the form
            document.getElementById("updateCustomerPasswordForm").addEventListener("submit", function(event) {
                var newPassword = document.getElementById("customer-password").value;
                var confirmPassword = document.getElementById("customer-password2").value;
                
                // Regular expression for password validation
                var passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{7,}$/;

                // Check if the password fields are empty
                if (!newPassword || !confirmPassword) {
                    // Show the alert
                    alert("Please fill in the new password fields!");
        
                    // Prevent the form submission from redirecting or reloading the page
                    event.preventDefault();
                }

                //Password Validation Checks
                else{
                    // Check if password meets the strength requirements
                    if (!passwordPattern.test(newPassword)) {
                        alert("Password must be at least 7 characters long and contain uppercase, lowercase letters, and special characters.");
                        event.preventDefault();  // Prevent form submission
                        return;
                    }

                    // Check if passwords match
                    if (newPassword !== confirmPassword) {
                        alert("Passwords do not match.");
                        event.preventDefault();  // Prevent form submission
                        return;
                    }
                }
            });
          

        </script>

    {% endblock %}

</body>