<!-- Restaurant Manager ~ Display of Menu Items Interface -->

{% extends 'layout.html' %}

{% block title %}
    Jolly Jollofs Menu Display
{% endblock %}

<body>

    {% block content %}

        <!-- Webpage Navbar -->
        <div id="navbar-menuItems">
            <nav style="background-color:#300909" class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="{{ media_url }}RestaurantLogoDesign-FYP.png" alt="Card Image">
                    </a>
                    <div class="dropdown" style="float:right; margin-right: 2rem;">
                        <a style="color:white;" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                        </svg>
                        {{ manager.first_name }} {{ manager.last_name }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" style="cursor:pointer" onclick="logOutConfirmation()">
                                <span style="color:black;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                                        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                                    </svg>
                                </span>
                                &nbsp;Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Manager Interface Sidebar -->
        <div class="MenuItems-sidebar shadow-lg">
            <div class="sidebar-btn" style="border">
                <a onclick= "window.location.href ='{% url 'manager-menu-management' %}'">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                        </svg>
                    </span> &nbsp; Back
                </a>
            </div>
        </div>

        <!-- Category Filter Container -->
        <div class="category-container">
            <label><input type="radio" name="category" class="mt-1" checked> Main Meal</label>
            <label><input type="radio" name="category" class="mt-1"> Fast Food</label>
            <label><input type="radio" name="category" class="mt-1"> Sides</label>
            <label><input type="radio" name="category" class="mt-1"> Drinks</label>
            <label><input type="radio" name="category" class="mt-1"> Deserts</label>
        </div>

        <br><br><br>
        
        <!-- Restaurant menu - Food Items-->
        <div class="restaurant-menu">
            {% for item in food %}

            <div class="menuitem-box" onmouseover="this.style.transform='scale(1.05)'; this.style.boxShadow='0 6px 8px rgba(0, 0, 0, 0.15)';"
            onmouseout="setBackgroundColor(this)">
                <!-- Food Image -->
                <img src="{{ media_url }}{{ item.image }}" alt="{{ item.food_name }}" class="food-image">

                <!-- Food Id -->
                <input hidden class="food-id" value="{{ item.foodId }}">
                
                <!-- Category -->
                <input hidden class="food-category" value="{{ item.category }}">
                <input hidden id="fooditemType" value="food">

                <!-- Food Name -->
                <h3 class="food-name">{{ item.food_name }}</h3>
    
                <!-- Price -->
                <p class="food-price">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                        <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"/>
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12"/>
                      </svg> &nbsp;&nbsp; {{ item.price }}</p>
    
                <!-- Calories -->
                <p class="food-calories"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                    <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16m0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15"/>
                  </svg> &nbsp;&nbsp; {{ item.calories }} </p>
            
                <!-- View More Info Button -->
                <div class="viewBtn-Div">
                    <button class="btn" id="view-info-btn" style="background-color: #FFB000; width:100%;" onmouseover="this.style.backgroundColor='#CC8A00';"
                    onmouseout="this.style.backgroundColor='#FFB000';">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                          </svg> View more
                    </button>
                </div>

                <br>

                <!-- Edit and Delete Buttons -->
                <div class="menu-actions">
                    <button onclick="openMenuItemDetails('{{ item.foodId }}', document.getElementById('fooditemType').value)" class="btn btn-secondary" id="edit-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                          </svg> Edit
                    </button>
                    <button class="btn btn-danger" onclick="confirmDeleteSwal('{{ item.foodId }}', document.getElementById('fooditemType').value)" id="delete-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                        </svg> Delete
                    </button>
                </div>
            </div>

            {% endfor %}
        </div>

        <!-- Restaurant menu - Drink Items -->
        <div class="restaurant-menu-drinks">
            {% for category in drinkCategories %}
                <div class="drink-category">
                    <h2 class="category-title">{{ category }}</h2>
                </div>
                <div class="drink-category-row">
                    {% for item in drinks %}
                        {% if item.category == category %}
                            <div class="drink-menuitem-box"
                                onmouseover="this.style.transform='scale(1.05)'; this.style.boxShadow='0 6px 8px rgba(0, 0, 0, 0.15)';"
                                onmouseout="setBackgroundColor(this)">
        
                                <!-- Drink Image -->
                                <img src="{{ media_url }}{{ item.image }}" alt="{{ item.drink_name }}" class="drink-image">
        
                                <!-- Drink Id -->
                                <input hidden class="drink-id" value="{{ item.drinkId }}">
                                <input hidden id="drinkitemType" value="drink">

                                <!-- Drink Name -->
                                <h3 class="drink-name">{{ item.drink_name }}</h3>
        
                                <!-- Price -->
                                <p class="drink-price">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                                        <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"/>
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                        <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12"/>
                                    </svg> &nbsp;&nbsp; {{ item.price }}
                                </p>
        
                                <!-- Calories -->
                                <p class="drink-calories">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                                        <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16m0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15"/>
                                    </svg> &nbsp;&nbsp; {{ item.calories }}
                                </p>

                                <!-- Alcohol Concentration -->
                                {% if category == 'Alcohol'%}
                                    <p class="drink-AlcoholConc">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cup-straw" viewBox="0 0 16 16">
                                            <path d="M13.902.334a.5.5 0 0 1-.28.65l-2.254.902-.4 1.927c.376.095.715.215.972.367.228.135.56.396.56.82q0 .069-.011.132l-.962 9.068a1.28 1.28 0 0 1-.524.93c-.488.34-1.494.87-3.01.87s-2.522-.53-3.01-.87a1.28 1.28 0 0 1-.524-.93L3.51 5.132A1 1 0 0 1 3.5 5c0-.424.332-.685.56-.82.262-.154.607-.276.99-.372C5.824 3.614 6.867 3.5 8 3.5c.712 0 1.389.045 1.985.127l.464-2.215a.5.5 0 0 1 .303-.356l2.5-1a.5.5 0 0 1 .65.278M9.768 4.607A14 14 0 0 0 8 4.5c-1.076 0-2.033.11-2.707.278A3.3 3.3 0 0 0 4.645 5c.146.073.362.15.648.222C5.967 5.39 6.924 5.5 8 5.5c.571 0 1.109-.03 1.588-.085zm.292 1.756C9.445 6.45 8.742 6.5 8 6.5c-1.133 0-2.176-.114-2.95-.308a6 6 0 0 1-.435-.127l.838 8.03c.013.121.06.186.102.215.357.249 1.168.69 2.438.69s2.081-.441 2.438-.69c.042-.029.09-.094.102-.215l.852-8.03a6 6 0 0 1-.435.127 9 9 0 0 1-.89.17zM4.467 4.884s.003.002.005.006zm7.066 0-.005.006zM11.354 5a3 3 0 0 0-.604-.21l-.099.445.055-.013c.286-.072.502-.149.648-.222"/>
                                        </svg> &nbsp;&nbsp; {{ item.alcoholConc }}
                                    </p>

                                {% endif %}

                                <!-- View More Info Button -->
                                <div class="viewBtn-Div">
                                    <button class="btn" id="view-info-btn" style="background-color: #FFB000; width:100%;" onmouseover="this.style.backgroundColor='#CC8A00';"
                                    onmouseout="this.style.backgroundColor='#FFB000';">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                        </svg> View more
                                    </button>
                                </div>

                                <br>

                                <!-- Edit and Delete Buttons -->
                                <div class="menu-actions">
                                    <button onclick="openMenuItemDetails('{{ item.drinkId }}', document.getElementById('drinkitemType').value)" class="btn btn-secondary" id="edit-btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                        </svg> Edit
                                    </button>
                                    <button class="btn btn-danger" onclick="confirmDeleteSwal('{{ item.drinkId }}', document.getElementById('drinkitemType').value)" id="delete-btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                        </svg> Delete
                                    </button>
                                </div>

                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        
        <br><br>

        <!-- Edit Menu Item Modal ~ Food -->
        <div class="modal fade" id="MenuItemDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Menu Item </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="MenuItemDetailsForm" method="post" action="{% url 'updateFoodItem' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="food-name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="upd-food-name" required name="upd-food-name">
                            <input type="text" name="upd-foodID" id="upd-foodID" hidden>
                        </div>
                        <div class="mb-3">
                            <label for="ingredients" class="form-label">Ingredients</label>
                                <textarea id="upd-ingredients" name="upd-ingredients" class="form-control"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="category" class="form-label">Categories</label>
                            <div class="dropdown-container">
                                <select name="upd-category" id="upd-category" class="form-control custom-select">
                                    {% for item in categories %}
                                        <option value="{{ item}}">{{ item }}</option>
                                    {% endfor %}
                                </select>
                            </div>
    
                        </div>
                        <div class="mb-3">
                            <label for="duration" class="form-label">Duration</label>
                            <input type="text" required id="upd-duration" name="upd-duration" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="price">Price</label>
                            <input type="text" required id="upd-price" name="upd-price" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="food-image" class="form-label">Upload an image:</label>
                            <input type="file" class="form-control" id="upd-image" name="upd-image" accept="image/*">
                            <img id="upd-image-preview" src="" alt="Food Image Preview" style="max-width: 100%; display: none; margin-top: 10px;">
                        </div>
                        <div class="mb-3">
                            <label for="allergen" class="form-label">Allergen</label>
                            <input type="text" id="upd-allergen" class="form-control" name="upd-allergen">
                        </div>

                        <div class="mb-3">
                            <label for="calories" class="form-label">Calories</label>
                            <input type="text" id="upd-calories" class="form-control" name="upd-calories">
                        </div>

                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn" style="background-color:#FFB000;" onmouseover="this.style.backgroundColor='#CC8A00';"
                onmouseout="this.style.backgroundColor='#FFB000';">Update Item</button>
                </div>
                </form>
            </div>
            </div>
        </div> 

        <!-- Edit Menu Item Modal ~ Drink -->
        <div class="modal fade" id="DrinkItemDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Menu Item </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="DrinkItemDetailsForm" method="post" action="{%url 'updateDrinkItem' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="food-name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="upd-drink-name" required name="upd-drink-name">
                            <input type="text" name="upd-drinkID" id="upd-drinkID" hidden>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                                <textarea id="upd-description" name="upd-description" class="form-control"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="category" class="form-label">Categories</label>
                            <div class="dropdown-container">
                                <select name="upd-drink-category" id="upd-drink-category" class="form-control custom-select">
                                    {% for item in drinkCategories %}
                                        <option value="{{ item}}">{{ item }}</option>
                                    {% endfor %}
                                </select>
                            </div>
    
                        </div>
                        <div class="mb-3">
                            <label for="alcoholConc" class="form-label">Alcohol Concentration</label>
                            <input type="text" required id="upd-alcohol-conc" name="upd-alcohol-conc" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="price">Price</label>
                            <input type="text" required id="upd-drink-price" name="upd-drink-price" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="food-image" class="form-label">Upload an image:</label>
                            <input type="file" class="form-control" id="upd-drink-image" name="upd-drink-image" accept="image/*">
                            <img id="upd-drink-image-preview" src="" alt="Food Image Preview" style="max-width: 100%; display: none; margin-top: 10px;">
                        </div>
                        <div class="mb-3">
                            <label for="calories" class="form-label">Calories</label>
                            <input type="text" id="upd-drink-calories" class="form-control" name="upd-drink-calories">
                        </div>

                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn" style="background-color:#FFB000;" onmouseover="this.style.backgroundColor='#CC8A00';"
                onmouseout="this.style.backgroundColor='#FFB000';">Update Item</button>
                </div>
                </form>
            </div>
            </div>
        </div> 


    {% endblock %}

    <!-- Dynamic JavaScript Functionality -->
    {% block scripts%}

        {% comment %} Checks for any messages, and displays swal pop ups{% endcomment %}
        {% if messages %}
            <script>
                {% for message in messages %}

                    var messageText = "{{ message|escapejs }}"

                    {% comment %} If form is successfully submitted, display swal pop up {% endcomment %}
                    if(messageText === "Menu item have been updated successfully!"){
                        Swal.fire({
                            icon: 'success',
                            title: 'Menu Item Updated!',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                //Redirects back to page
                                window.location.href="{% url 'manager-menu-items' %}"
                            }
                        });
                    }   

                {% endfor %}
            </script>

        {% endif %}


        <script>

            // Function to set background color based on mouseout hover
            function setBackgroundColor(element) {
                element.style.transform = 'scale(1)';  // Reset scaling
                element.style.boxShadow = '2px 2px 10px rgba(0, 0, 0, 0.1)';// Reset box-shadow
                element.style.backgroundColor = '#f8f8f8';
            }

            //Function to open item delete confirmation swal pop up
            function confirmDeleteSwal(itemId, itemType){
                Swal.fire({
                    icon: 'warning',
                    title: 'Do you want to delete this item?',
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                }).then((result) => {
                    if (result.isConfirmed) {
                        document.getElementsByClassName("food-id")[0].hidden = false;
                        document.getElementsByClassName("drink-id")[0].hidden = false;
                        // Logic for 'yes' button is clicked
                        $.ajax({
                            url: `/users/removeMenuItem/${itemId}/${itemType}/`,
                            type: 'POST',
                            headers: { "X-CSRFToken": getCSRFToken() },
                            data: { 
                                id: itemId,
                                itemType: itemType
                             },
                            success: function(response) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Menu Item Deleted',
                                    text: 'The menu item has been successfully cancelled.'
                                }).then(() => {
                                    location.reload(); // Refresh the page or update the UI accordingly
                                    document.getElementsByClassName("food-id")[0].hidden = true;
                                    document.getElementsByClassName("drink-id")[0].hidden = true;
                                });
                            },
                            error: function(xhr, status, error) {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Cancellation Failed',
                                    text: 'There was an issue deleting the item. Please try again.'
                                });
                            }
                        });
                        
                    } else if (result.isDismissed) {
                        // Logic for cancelling logout
                        return false;
                    }
                });
            }

            //Function to display Swal Pop Up for when 'Log Out' is clicked
            function logOutConfirmation(){
                Swal.fire({
                    icon: 'warning',
                    title: 'Do you want to log out?',
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Logic for logging out
                        window.location.href = "{% url 'manager-logout' %}";
                    } else if (result.isDismissed) {
                        // Logic for canceling logout
                        return false;
                    }
                });
            } 

            // Function to get CSRF token from cookies
            function getCSRFToken() {
                let cookieValue = null;
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    if (cookie.startsWith('csrftoken=')) {
                        cookieValue = cookie.substring('csrftoken='.length, cookie.length);
                        break;
                    }
                }
                return cookieValue;
            }

            //Function which opens the Menu Item Update Portal, and fetches the menu item details
            function openMenuItemDetails(itemID, itemType){
                document.getElementById("fooditemType").hidden = false;
                document.getElementById("drinkitemType").hidden = false;
                fetch(`/users/fetch-item-details/${itemID}/${itemType}/`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                        return response.json();

                    })
                    .then(data => {
                        if(data.success){
                            document.getElementById("fooditemType").hidden = true;
                            document.getElementById("drinkitemType").hidden = true;

                            if(itemType == "food"){
                                //Fill in the form with the fetched data
                                document.getElementById("upd-food-name").value = data['name'];
                                document.getElementById("upd-ingredients").value = data['ingredients'];

                                var categorySelect = document.getElementById("upd-category");
                                for (let option of categorySelect.options) {
                                    if (option.value === data['category']) {
                                        option.selected = true;
                                        break; // Stop looping once the match is found
                                    }
                                }
                                document.getElementById("upd-foodID").value = itemID;
                                document.getElementById("upd-duration").value = data['duration'];
                                document.getElementById("upd-price").value = data['price'];
                                document.getElementById("upd-allergen").value = data['allergen'];
                                document.getElementById("upd-calories").value = data['calories'];
                                document.getElementById("upd-image").src = data['image'];
                                document.getElementById("upd-image-preview").src = data['image'];
                                document.getElementById("upd-image-preview").style.display = "block"; 

                                // Handle image preview when a new file is selected
                                document.getElementById("upd-image").addEventListener("change", function(event) {
                                    let file = event.target.files[0]; // Get the selected file
                                    if (file) {
                                        let reader = new FileReader();
                                        reader.onload = function(e) {
                                            document.getElementById("upd-image-preview").src = e.target.result;
                                        };
                                        reader.readAsDataURL(file);
                                    }
                                });

                                //Display the modal
                                var modal = new bootstrap.Modal(document.getElementById("MenuItemDetailsModal"));
                                modal.show();
                            }

                            else if(itemType == "drink"){
                                //Fill in the form elements 
                                document.getElementById("upd-drink-name").value = data['drinkName'];
                                document.getElementById("upd-description").value = data['description'];
                                var drinkCategorySelect = document.getElementById("upd-drink-category");
                                for (let option of drinkCategorySelect.options) {
                                    if (option.value === data['drinkCategory']) {
                                        option.selected = true;
                                        break; // Stop looping once the match is found
                                    }
                                }

                                document.getElementById("upd-drinkID").value = itemID;
                                document.getElementById("upd-alcohol-conc").value = data['alcoholConc'];
                                document.getElementById("upd-drink-price").value = data['drinkPrice'];
                                document.getElementById("upd-drink-image").src = data['drinkImage'];
                                document.getElementById("upd-drink-image-preview").src = data['drinkImage'];
                                document.getElementById("upd-drink-image-preview").style.display = "block";
                                document.getElementById("upd-drink-calories").value = data['drinkCalories'];

                                // Handle image preview when a new file is selected
                                document.getElementById("upd-drink-image").addEventListener("change", function(event) {
                                    let file = event.target.files[0]; // Get the selected file
                                    if (file) {
                                        let reader = new FileReader();
                                        reader.onload = function(e) {
                                            document.getElementById("upd-drink-image-preview").src = e.target.result;
                                        };
                                        reader.readAsDataURL(file);
                                    }
                                });

                                //Display the modal
                                var drinksModal = new bootstrap.Modal(document.getElementById("DrinkItemDetailsModal"));
                                drinksModal.show();
                            }
                           
                        } else{
                            console.error("Error:", data.message);
                        }
                    })
                    .catch(error => {
                        console.error("Error fetching menu item details:", error);
                    });

                
            }

            //Event listener to enable disbaled elements input values pass through, on the form submit
            document.getElementById("MenuItemDetailsForm").addEventListener("submit", function() {
                document.getElementById("upd-foodID").hidden = false;  // Enable before submit
            });

            //Event listener to enable disbaled elements input values pass through, on the form submit
            document.getElementById("DrinkItemDetailsForm").addEventListener("submit", function() {
                document.getElementById("upd-drinkID").hidden = false;  // Enable before submit
            });

            //Function which toggles display of menu items, based on category selected
            document.addEventListener("DOMContentLoaded", function () {
                const radioButtons = document.querySelectorAll("input[name='category']");
                const drinkMenuDiv = document.querySelector(".restaurant-menu-drinks");
                drinkMenuDiv.style.display = "none";

                radioButtons.forEach(radio => {
                    radio.addEventListener("change", function () {
                        const selectedCategory = this.parentElement.textContent.trim();
                        if(selectedCategory === "Drinks"){
                            displayDrinkItems();
                        }
                        else{
                            filterMenuItems(selectedCategory);
                        }
                    });
                });

                function displayDrinkItems(){
                    const drinkMenuDiv = document.querySelector(".restaurant-menu-drinks");
                    const foodMenuDiv = document.querySelector(".restaurant-menu");
                    const menuItems = document.querySelectorAll(".drink-menuitem-box");

                    foodMenuDiv.style.display = "none";

                    //Drink Container
                    drinkMenuDiv.style.display = "flex";
                    drinkMenuDiv.style.flexWrap = "wrap";
                    drinkMenuDiv.style.gap = "35px";
                    drinkMenuDiv.style.justifyContent = "flex-start";
                    drinkMenuDiv.style.margin = "0 auto";
                    drinkMenuDiv.style.paddingLeft = "250px";

                    // Apply styles to category title
                    const categoryTitles = document.querySelectorAll(".category-title");
                    categoryTitles.forEach(title => {
                        title.style.fontSize = "24px";
                        title.style.fontWeight = "bold";
                        title.style.textAlign = "left";
                        title.style.padding = "10px 0";
                        title.style.borderBottom = "2px solid #FFB000";
                        title.style.color = "#444444";
                        title.offsetHeight;
                    });

                    // Apply styles to category rows
                    const categoryRows = document.querySelectorAll(".drink-category-row");
                    categoryRows.forEach(row => {
                        row.style.display = "grid";
                        row.style.gridTemplateColumns = "repeat(4, minmax(200px, 1fr))"; // 4 equal columns
                        row.style.gap = "35px"; 
                        row.offsetHeight;
                    });

                    //Apply styles to drink category
                    const drinkCategories = document.querySelectorAll(".drink-category");
                    drinkCategories.forEach(row => {
                        row.style.width = "100%";
                        row.style.marginTop = "10px";
                        row.offsetHeight;
                    });

                    //Apply syles to buttons

                    const menuActions = document.querySelectorAll(".menu-actions");
                    menuActions.forEach(row => {
                        row.style.display = "flex";
                        row.style.gap = "10px";
                        row.marginTop = "10px;"
                        row.offsetHeight;
                    });

                    //Item Style Display
                    menuItems.forEach(item => {
                        //Item Style Display 
                        item.style.display = "flex";
                        item.style.flexDirection = "column";
                        item.style.alignItems = "center";
                        item.style.padding = "15px";
                        item.style.borderRadius = "10px";
                        item.style.background = "#f8f8f8";
                        item.style.boxShadow = "2px 2px 10px rgba(0, 0, 0, 0.1)";
                        item.style.textAlign = "center";
                        item.style.cursor = "pointer";
                        item.style.position = "relative";
                        item.style.transition = "transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease";
                        item.style.width = "100%";
                        item.style.maxWidth = "270px";
                        item.style.minWidth = "210px";
                    });

                    drinkMenuDiv.offsetHeight;

                }
                
                function filterMenuItems(category) {
                    const menuItems = document.querySelectorAll(".menuitem-box");
                    const parentContainer = document.querySelector(".restaurant-menu");
                    const drinkMenuDiv = document.querySelector(".restaurant-menu-drinks");
                    drinkMenuDiv.style.display = "none";


                    if (parentContainer) {
                        parentContainer.style.display = "flex";
                        parentContainer.style.flexWrap = "wrap";
                        parentContainer.style.gap = "35px";
                        parentContainer.style.justifyContent = "flex-start";
                        parentContainer.style.margin = "0 auto";
                        parentContainer.style.paddingLeft = "250px";
                    }

                    menuItems.forEach(item => {
                        const itemCategory = item.querySelector(".food-category").value;
                        
                        if (itemCategory === category) {
                            item.style.display = "flex";
                            item.style.flexDirection = "column";
                            item.style.alignItems = "center";
                            item.style.padding = "15px";
                            item.style.borderRadius = "10px";
                            item.style.background = "#f8f8f8";
                            item.style.boxShadow = "2px 2px 10px rgba(0, 0, 0, 0.1)";
                            item.style.textAlign = "center";
                            item.style.cursor = "pointer";
                            item.style.position = "relative";
                            item.style.transition = "transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease";
                            item.style.width = "calc(25% - 20px)";
                            item.style.minWidth = "200px";
                            item.style.maxWidth = "250px";

                        } else {
                            item.style.display = "none";
                        }
                    });

                    parentContainer.offsetHeight;
                }
                
                // Initialize filter with checked category
                const checkedRadio = document.querySelector("input[name='category']:checked");
                if (checkedRadio) {
                    filterMenuItems(checkedRadio.parentElement.textContent.trim());
                }
            });
            
        </script>

    {% endblock %}


</body>
